{
  "env": {
    "node": true
  },
  "globals": {},
  "rules": {
    "eqeqeq": 2,
    "wrap-iife": [
      2,
      "any"
    ],
    "no-use-before-define": 2,
    "no-caller": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-eq-null": 2,
    "dot-notation": 0,
    "max-len": [
      2,
      120
    ],
    "camelcase": [
      2,
      {
        "properties": "never"
      }
    ],
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "no-multi-str": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2,
    "padded-blocks": [
      2,
      "never"
    ],
    "space-unary-ops": 2,
    "one-var": [
      2,
      {
        "initialized": "never"
      }
    ],
    "curly": [
      2,
      "all"
    ],
    "operator-linebreak": [
      2,
      "after"
    ],
    "keyword-spacing": [
      2
    ],
    "space-return-throw-case": 0,
    "brace-style": [
      2,
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "array-bracket-spacing": [
      2,
      "never"
    ],
    "space-infix-ops": 2,
    "space-before-blocks": [
      2,
      "always"
    ],
    "eol-last": 2,
    "space-in-parens": [
      2,
      "never"
    ]
  }
}
